<div ng-controller="myListController">
  <h1>Мой список</h1>
      <div>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Добавить</button>
          </span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
            Молоко
          </li>
        </ul>
     
      </div>
    </div>
